<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ToDo LIST</title>
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app" v-cloak>
    <v-app id="inspire">
        <v-navigation-drawer
            v-model="drawer"
            :clipped="$vuetify.breakpoint.lgAndUp"
            app
        >
            <v-list dense>
                <template v-for="item in drawerItems">
                    <v-row
                        v-if="item.heading"
                        :key="item.heading"
                        align="center"
                    >
                        <v-col cols="6">
                            <v-subheader v-if="item.heading">
                                {{ item.heading }}
                            </v-subheader>
                        </v-col>
                        <v-col cols="6" class="text-center">
                            <a href="#!" class="body-2 black--text">EDIT</a>
                        </v-col>
                    </v-row>
                    <v-list-group
                        v-else-if="item.children"
                        :key="item.text"
                        v-model="item.model"
                        :prepend-icon="item.model ? item.icon : item['icon-alt']"
                        append-icon=""
                    >
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ item.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </template>
                    </v-list-group>
                    <v-list-item
                        v-else
                        :key="item.text"
                        link
                    >
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>

        <!-- ヘッダーの表示 -->
        <v-app-bar
            :clipped-left="$vuetify.breakpoint.lgAndUp"
            class="mx-auto"
            app
            color="teal darken-1"
            dense
            dark
        >
            <v-spacer></v-spacer>
                <v-toolbar-title>{{ appName }}</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-app-bar>

        <v-main>
            <v-container>
                <v-container>
                    <v-row class="mb-6">
                        <v-col cols="8">
                            <!-- タスクの絞り込み -->
                            <v-col class="d-flex" cols="12" sm="6" style="width: 300px;">
                                <v-select
                                    :items="options"
                                    name="label"
                                    v-model="currentState"
                                    item-text="label"
                                    v-bind:value="options.value"
                                    label="タスクの状態"
                                >
                                    {{ options.label }}
                                </v-select>
                            </v-col>
                            <p>　{{ getTodos.length }} 件のタスクを表示中</p>
                        </v-col>

                        <v-col cols="4" :class="'d-flex align-end justify-end'">
                            <!-- 新しいタスクを追加する -->
                            <v-btn
                                color="teal lighten-4"
                                @click="addConfirm"
                            >
                                新しいタスクを追加する
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>

                <v-dialog v-model="addDialog" max-width="500">
                    <v-card>
                        <v-card-title class="headline">新しいタスクを追加</v-card-title>
                        <v-form ref="form" @submit.stop.prevent="doAdd">
                            <v-container>
                                <v-text-field
                                    v-model="task"
                                    :rules="rules"
                                    :counter="25"
                                    label="タスク名"
                                    hint="最大25文字入力できます。"
                                    placeholder="タスク名を入力してください。"
                                    autofocus
                                    @keyup.native.enter="task && submit(doAdd)"
                                >
                                </v-text-field>
                            </v-container>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="green darken-1" text @click="addDialog = false">キャンセル</v-btn>
                                <v-btn type="submit" color="primary" @click="doAdd">追加</v-btn>
                            </v-card-actions>
                        </v-form>
                    </v-card>
                </v-dialog>

                <v-container>
                    <!-- ToDo テーブル -->
                    <table>
                        <!-- テーブルヘッダ -->
                        <thead>
                            <tr>
                                <th class="id">ID</th>
                                <th class="comment">タスク名</th>
                                <th class="state">状態</th>
                                <th class="button"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in getLists" v-bind:key="item.id">
                                <!-- 要素の情報 -->
                                <th class="id">{{ item.id + 1 }}</th>
                                <td class="comment">{{ item.comment }}</td>
                                <td class="state">
                                    <!-- 状態変更ボタン -->
                                    <v-chip
                                        :color = "(item.state === 0)? 'primary' : 'success'"
                                        @click="doChangeState(item)"
                                        >
                                        {{ labels[item.state] }}
                                    </v-chip>
                                </td>
                                <td class="button">
                                    <v-icon @click="editConfirm(item.id)">mdi-pencil</v-icon>
                                    <v-icon @click="deleteConfirm(item.id)">mdi-delete</v-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- ページネーションの表示 -->
                    <div style="margin-top: 15px">
                        <v-pagination
                            v-model="currentPage"
                            :length="getPageCount"
                            circle
                        ></v-pagination>
                    </div>
                </v-container>

                <v-dialog v-model="editDialog" max-width="500">
                    <v-card>
                        <v-card-title class="headline">タスクの編集</v-card-title>
                        <v-form ref="form" @submit.stop.prevent="doUpdate(itemID)">
                            <v-container>
                                <v-text-field
                                    v-model = "task"
                                    :rules="rules"
                                    :counter="25"
                                    label="タスク名"
                                    hint ="最大25文字入力できます。"
                                    placeholder ="タスク名を入力してください。"
                                    autofocus
                                >
                                </v-text-field>
                            </v-container>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="green darken-1" text @click="editDialog = false">キャンセル</v-btn>
                                <v-btn type="submit" color="primary" @click="doUpdate(itemID)">更新</v-btn>
                            </v-card-actions>
                        </v-form>
                    </v-card>
                </v-dialog>

                <v-dialog v-model="deleteDialog" max-width="350">
                    <v-card>
                        <v-card-title class="headline">タスクの削除確認</v-card-title>
                        <v-card-text>タスクを削除してもよろしいですか？</v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" text @click="deleteDialog = false">キャンセル</v-btn>
                            <v-btn color="error" @click="doRemove(itemID)">削除</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-snackbar v-model="snackbar" :timeout="timeout">
                    {{ snackbar_text }}
                </v-snackbar>
            </v-container>
        </v-main>
    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet"></script>
<script src="main.js"></script>
</body>
</html>